* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list {
  margin-bottom: 50px;
}

.list-content {
  padding: 20px;
  list-style: none;
}

.list-content:nth-child(odd) {
  background-color: #e7e5e5;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-content {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: yellow;
}

.box-content:first-child,
.box-content:nth-child(5),
.box-content:last-child {
  background-color: orange;
}

.box-content:nth-child(3n) {
  /* 3の倍数の時のみ適用、右のマージン不要！*/
  margin-right: 0;
}

.box-content:nth-last-child(-n + 3) {
  /* 最後から数えて3つまで全て適用*/
  margin-bottom: 0;
}
